body {
    margin: 0;
    background-color: #1D1D1D;
    font-size: 24px;
    /* background-image: url("../src/stars.svg");
    background-repeat: no-repeat; */
    font-family: IBM Plex Mono, 'Courier New', Courier, monospace;
    color: white;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}

.imgs {
    position: absolute;
    height: 90vh;
    width: 30vw;
    border-right: 2px solid white;
}

#landing-img {
    width: 25vw;
    margin: 1.5em;
}

#tr1 {
    position: absolute;
    margin-left: 85vw;
    width: 15vw;
    z-index: 2;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 30vw;
    background-image: url("../src/stars2.svg");
    background-repeat: cover;
    height: 90vh;
    width: 70vw;
}

.title {
    width: 40%;
}

.info {
    margin-top: 2em;
    font-size: 0.8em;
    width: 50vw;
    text-align: center;
}

.vertical-div {
    position: absolute;
    z-index: 5;
    margin-left: 30vw;
    height: 99vh;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.extra {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90vh;
    height: 9vh;
    width: 30vw;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    font-size: 0.85em;
}

.navbar {
    display: flex;
    position: absolute;
    width: 70vw;
    margin-left: 30vw;
    margin-top: 90vh;
    height: 9vh;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

a {
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.nav-links {
    align-self: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 17.5vw;
    margin: auto;
}

.nav-links:hover {
    background-color: white;
    color: black;
}

.article {
    display: flex;
    justify-content: center;
    width: 80vw;
}

.art-title {
    font-size: 2em;
    font-family: IBM Plex Serif, 'Times New Roman', Times, serif;
}

.art-info {
    font-size: 0.9em;
    width: 80vw;
}