html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #1D1D1D;
    font-size: 24px;
    /* background-image: url("../src/stars.svg");
    background-repeat: no-repeat; */
    font-family: IBM Plex Mono, 'Courier New', Courier, monospace;
    color: white;
}

.triangles {
    position: absolute;
    width: 18vw;
    margin-left: 82vw;
}

span {
    font-size: 0.8em;
    user-select: none;
}

.return a {
    color: white;
    text-decoration: none;
}

.return a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
}

h1 {
    font-family: IBM Plex Serif;
    margin-left: 3vw;
    margin-bottom: 3vh;
}

.read-info {
    font-size: 1em;
    margin-left: 3vw;
    font-weight: 600;
}

.article {
    margin-top: 5vh;
    font-size: 0.8em;
    margin-left: 3vw;
    width: 94vw;
}