.article {
    display: flex;
    flex-direction: column;
    margin: 8vh auto;
    width: 90vw;
    padding: 1.5em;
}

.article:first-of-type {
    margin-top: 5vh;
}

.about-art {
    display: block;
    font-size: 0.8em;
    width: 70vw;
    text-align: left;
}

.read-more {
    justify-self: center;
    margin-left: 83vw;
    width: 7vw;
    position: absolute;
    margin-top: 2em;
}

.article:nth-of-type(2n) {
    background-color: #2e2e2e;
    border-radius: 6px;
}

.article-link {
    text-align: unset;
}

.article-link-svg {
    justify-self: center;
    margin-left: 83vw;
    width: 7vw;
    position: absolute;
    margin-top: 2em;
}
