.sect1 {
    height: 99vh;
    border-bottom: 2px solid white;
}

.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30vw;
    height: 90vh;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.main {
    background-image: url(/assets/stars2.svg);
    background-repeat: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 70vw;
    height: 90vh;
    margin-left: 30vw;
    border-bottom: 2px solid white;
}

.main-mob {
    display: none;
}

.tr1-mob {
    display: none;
}

.desc {
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30vw;
    height: 9vh;
    margin-top: 90vh;
    /* border-top: 2px solid white;
    border-bottom: 2px solid white; */
    border-right: 2px solid white;
}

.navbar {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 90vh;
    margin-left: 30vw;
    height: 9vh;
    width: 70vw;
}

.nav-links {
    color: white;
    text-decoration: none;
    align-self: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 17.5vw;
    margin: auto;
    text-align: center;
}

.nav-links:hover {
    background-color: white;
    color: black;
}

.sect2 {
    width: 100vw;
}

.ham-menu {
    display: none;
}

.pagination {
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    width: min-content;
}

.pageLink {
    cursor: pointer;
}

/* pagination pageItem */
.pageItem {
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* pagination page item when active */
.pageItemActive {
    text-align: center;
    width: 2rem;
    height: 2rem;
    border: 2px solid #eaeaea;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    #tr1 {
        display: none;
    }

    .tr1-mob {
        display: inline;
        position: absolute;
        width: 55%;
    }

    #myLinks {
        display: none;
        /* position: absolute; */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 3vh 0;
    }

    #myLinks a {
        display: block;
        color: white;
        width: 30vw;
        margin: 10px;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    #myLinks a.icon {
        display: block;
        position: absolute;
    }

    .ham-menu {
        display: block;
        position: absolute;
        z-index: 10;
        background-color: transparent;
        border: none;
        margin-top: 3vh;
        margin-left: 3vw;
    }

    #link1 {
        background-color: #8d46b9;
    }

    #link2 {
        background-color: #c8791d;
    }

    #link3 {
        background-color: #369545;
    }

    #link4 {
        background-color: #54b6c2;
    }

    .main {
        width: 100%;
    }

    .heading {
        width: 80%;
        margin: 63vh 5vh 0vh;
    }

    .imgs {
        display: none;
    }

    .navbar {
        display: none;
    }

    .desc {
        border-right: none;
        width: 100vw;
        margin-top: 0;
    }

    #landing-img {
        position: absolute;
        width: 60vw;
        margin-left: 40vw;
        margin-top: 15vh;
    }

    #landing-text {
        position: absolute;
        margin-top: 1vh;
        width: 80vw;
        margin-left: 10vw;
        font-size: 0.8em;
    }

    .main {
        display: none;
    }

    .main-mob {
        height: 90vh;
        display: block;
        background-image: url(/assets/starsabmob.svg);
        background-repeat: cover;
        border-bottom: 2px solid white;
    }
}
