.stars {
    position: absolute;
    height: 90vh;
    width: 63vw;
    background-image: url("/assets/stars.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    margin-left: 50px;
    margin-top: 35vh;
    position: absolute;
}

.text-mob {
    display: none;
}

.tr1 {
    position: absolute;
    user-select: none;
}

.tr2 {
    display: none;
    position: absolute;
    width: 26vw;
    margin-left: 74vw;
    margin-top: 71vh;
    z-index: 1;
    user-select: none;
}

.tr3 {
    display: none;
    user-select: none;
}

.navbar {
    display: flex;
    position: absolute;
    background-color: #1d1d1d;
    height: 9vh;
    margin-top: 90vh;
    width: 63vw;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    align-items: center;
}

.desc {
    position: absolute;
    height: 9vh;
    margin-top: 90vh;
    margin-left: 63vw;
    width: 37vw;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.menu-button {
    display: none;
}

.vertical-div {
    z-index: 5;
    position: absolute;
    margin-left: 63vw;
    /* width: 2px; */
    height: 99vh;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.photo1 {
    position: absolute;
    margin-left: 65vw;
    margin-top: 3vh;
    width: 400px;
    user-select: none;
}

.photo2 {
    position: absolute;
    margin-left: 71vw;
    margin-top: 34vh;
    width: 400px;
    z-index: 2;
    user-select: none;
}

.photo3 {
    position: absolute;
    width: 34vw;
    z-index: 0;
    user-select: none;
}

.nav-links {
    /* border-right: 1px solid white;
    border-left: 1px solid white; */
    align-self: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 15.75vw;
    margin: auto;
}

.nav-links:hover {
    background-color: white;
    color: black;
}

.container {
    height: 100vh;
}

.about {
    position: absolute;
    text-align: right;
    z-index: 10;
    width: 70vw;
    margin-left: 24vw;
    font-size: 0.9em;
}

.about-mob {
    display: none;
}

.interests {
    display: flex;
    justify-content: space-around;
    width: 65vw;
    margin-left: 32vw;
    margin-top: 35vh;
}

.about2 {
    width: 90vw;
    text-align: center;
    margin: 10vh auto;
    font-size: 0.9em;
}

.about2-mob {
    display: none;
}

.blog {
    width: 85vw;
    text-align: center;
    margin: 3vh auto;
    font-size: 0.9em;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 8vh;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-width: 2px 2px 0px 2px;
    border-color: white;
    border-style: solid;
    width: 51vw;
    height: 10vh;
}

.socials-mob {
    display: none;
}

.soc-links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 10vh;
    align-self: center;
}

.soc-links:hover {
    background-color: white;
    color: black;
}

.ham-menu {
    display: none;
}

@media (max-width: 768px) {
    .tr1 {
        position: absolute;
        width: 225px;
    }

    .tr2 {
        display: none;
    }

    .container {
        width: 100vw;
    }

    .text {
        display: none;
    }

    .text-mob {
        display: block;
        position: absolute;
        margin-top: 42vh;
        margin-left: 10vw;
        width: 320px;
    }

    .vertical-div {
        display: none;
    }

    .navbar {
        display: none;
    }

    .photo1 {
        width: 200px;
        margin-left: 43vw;
    }

    .photo2 {
        width: 200px;
        margin-top: 18vh;
        margin-left: 48vw;
    }

    .desc {
        position: absolute;
        width: 100%;
        margin-left: 0;
    }

    .tr3 {
        display: inline;
        position: absolute;
        width: 50vw;
        margin-left: 50vw;
        margin-top: 99.5vh;
    }

    .menu-button {
        display: block;
        position: absolute;
        z-index: 10;
        background-color: transparent;
        border: none;
        margin-top: 3vh;
        margin-left: 3vw;
    }

    .ham-menu {
        display: block;
        position: absolute;
        z-index: 10;
        background-color: transparent;
        border: none;
        margin-top: 3vh;
        margin-left: 3vw;
    }

    .photo3 {
        position: absolute;
        width: 50vw;
        z-index: 2;
    }

    .about {
        display: none;
    }

    .about-mob {
        position: relative;
        display: block;
        text-align: right;
        z-index: 12;
        width: 70vw;
        margin-left: 24vw;
        font-size: 0.8em;
    }

    .interests {
        width: 100vw;
        margin-top: 5vh;
        margin-left: 0;
    }

    .about2 {
        display: none;
    }

    .about2-mob {
        position: relative;
        display: block;
        width: 90vw;
        text-align: center;
        margin: 10vh auto 5vh;
        font-size: 0.8em;
    }

    .blog {
        display: none;
    }

    .socials {
        display: none;
    }

    .trsq {
        display: block;
        width: 45vw;
    }

    .polygons {
        display: none;
    }

    .socials-mob {
        display: flex;
        width: 100vw;
        height: 8vh;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    .soc-links {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 33.333333333334vw;
        height: 8vh;
    }
}